<ul>
  <% if Refinery::Snippets::Admin::SnippetsController.searchable? %>
    <li>
      <%= render :partial => "/refinery/admin/search",
                  :locals => {
                    :url => snippets_admin_snippets_url
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_snippets_admin_snippet_url,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Refinery::Snippets::Admin::SnippetsController.sortable? and Snippet.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Snippets"),
                 snippets_admin_snippets_url,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Snippets"),
                 snippets_admin_snippets_url,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>