<% content_for :body_content_left do %>
  <ul id="snippets">
    <% @snippets.each do |snippet| %>
      <li>
        <%= link_to snippet.title, snippet_url(snippet) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
