<ul>
  <li>
    <%= link_to t('.create_new'), refinery.new_admin_snippet_path,
                class: 'icon-small icon-with-text add-icon' %>
  </li>
</ul>

<%= render 'refinery/admin/actions_locale_picker', url: refinery.admin_snippets_path %>
