<li class="clearfix record" id="<%= dom_id snippet %>">
  <span class="title">
    <%= snippet.title %>
  </span>
  <span class="actions">
    <%= link_to t('delete', scope: 'refinery.admin.record'),
                refinery.admin_snippet_path(snippet),
                class: 'delete confirm-delete nojs-hide icon-small delete-icon',
                title: t('.delete'),
                data: {
                  remote: true,
                  confirm: t('message', scope: 'refinery.admin.delete', title: snippet.title)
                },
                method: :delete %>

    <%= link_to t('edit', scope: 'refinery.admin.record'),
                refinery.edit_admin_snippet_path(snippet),
                class: 'icon-small edit-icon',
                title: t('.edit') %>

  </span>
</li>
