<% if @page.new_record? %>
<div class="msg alert"><%= t('.please_save_page_before') %></div>
<% else %>
<%= render :partial => '/admin/pages/tabs/snippets_field', :collection => @page.parts, :as => :part %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'page-snippet-picker' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'page-snippet-picker' %>
<% end %>
