/* 
Document   : page-snippet-picker.css
Created on : May 16, 2011, 4:41:03 AM
Author     : keram
Description:
Styles for snippets administrations
*/

a.add-snippet,
span.add-snippet {
    background-repeat: no-repeat;
    background-position: left center;
    border: none; 
    padding-left: 20px;
}

span.add-snippet {
    float: right;
    color: lightGray;
    margin: 3px;
}

.part-snippets ul {
    background: #fff;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.active-snippets ul {
    margin-bottom: 15px;
}

.inactive-snippets ul {
    background: #fcfcfc;
}

.msg {
    margin: 5px 5px 10px;
    padding: 20px;
}

.msg.alert {
    color: #f66;
    background: #fff;
}

#page_snippet_picker h1 {
    text-align: left;
}

.part-snippets {
    margin-bottom: 5ex;
}

.part-snippets:last-child {
    margin-bottom: 0;
}

#page_snippet_picker div.actions {
    display: inline;
}

#part-snippets-menu {
    margin: 1ex 0;
    float: right;
}

#part-snippets-menu li {
    display: inline;
}
